footer{
    background-color: black;
    height: 100px;
    margin-bottom: 0;
}

.registro{
    color:white;
    font-size: 3.5vw;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 30px;
}

@media (min-width:800px){
    .registro{
        font-size: 1.5vw;
    }

}
